//
//  dev.xcconfig
//  CoreStructure_iOS
//
//  Created by Rath! on 12/9/24.
//

//Referent ==> https://medium.com/@tejaswini-27k/ios-project-different-environments-xcode-configurations-and-scheme-752ee4404bfa

// MARK: All key, We need add in info(example: BASE_URL : $(BASE_URL) )
//uat-api-prime.therealreward.com/
//jsonplaceholder.typicode.com/
//https://uat-api-prime.therealreward.com
BASE_URL = https:/$()/api-prime.therealreward.com/

API_KEY = AIzaSyBqVewVBMEhIqsP8uNDkkSD1wZYJCCXFgw // get from firebase key API_KEY

//AIzaSyBqVewVBMEhIqsP8uNDkkSD1wZYJCCXFgw

BUNDLE_ID = com.rath.CoreStructure-iOS.dev


Bundle_Display_Name = DEV Testing

// Key AES

PAYMENT_KEY = PAYMENT_KEY_DEV

PAYMENT_VECTOR = PAYMENT_VECTOR_DEV

//Dear Sir Sothea,
//My name is Chhan Sophearath, and I am writing to express my interest in the iOS Developer position at your company.
//I have almost three years of experience, working on iOS projects such as ANUPHEAP, The Real Reward, and The Real Merchant. I am skilled in Swift, UIKit, and the MVVM architecture, and I am passionate about creating clean, efficient, and user-friendly mobile applications.
//I would be grateful for the opportunity to further discuss how I can contribute to your development team.
//Thank you very much for considering my application.
//Sincerely,
// Chhan Sophearath
