//
//  pro.xcconfig
//  CoreStructure_iOS
//
//  Created by Rath! on 12/9/24.
//

//Referent ==> https://medium.com/@tejaswini-27k/ios-project-different-environments-xcode-configurations-and-scheme-752ee4404bfa

// MARK: All key, We need add in info(example: BASE_URL : $(BASE_URL))

//uat-api-prime.therealreward.com/
//jsonplaceholder.typicode.com/

BASE_URL = https:/$()/api-prime.therealreward.com/

API_KEY = AIzaSyBqVewVBMEhIqsP8uNDkkSD1wZYJCCXFgw

BUNDLE_ID = com.rath.CoreStructure-iOS.dev

Bundle_Display_Name = PRO Testing

// Key AES

PAYMENT_KEY = PAYMENT_KEY_PRO

PAYMENT_VECTOR = PAYMENT_VECTOR_PRO
