//
//  pro.xcconfig
//  CoreStructure_iOS
//
//  Created by Rath! on 12/9/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//192.168.0.1
BASE_URL =  http:/$()/192.168.0.110:1110/api/

API_KEY = AIzaSyB7phb_51lTr2yjxAeY0flXXiE_w2q2tFM

BUNDLE_ID = com.rath.CoreStructure-iOS

Bundle_display_name = Testing // app name 

