//
//  uat.xcconfig
//  CoreStructure_iOS
//
//  Created by Rath! on 12/9/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


BASE_URL = http:/$()/192.168.0.110:1110/api/   //http:/$()/159.138.83.213:8081/v1/api/mobile/

API_KEY = AIzaSyB7phb_51lTr2yjxAeY0flXXiE_w2q2tFM

BUNDLE_ID = com.rath.CoreStructure-iOS

PLIST_VERSION = 1

Bundle_display_name = iOS UAT // app name 
