<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>BUNDLE_ID</key>
	<string>$(BUNDLE_ID)</string>
	<key>Bundle_Display_Name</key>
	<string>$(Bundle_Display_Name)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>myApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myapp</string>
				<string>com.googleusercontent.apps.171109138269-vvb4e65sb53qstkt46mmih8vdlkcrg8j</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PAYMENT_KEY</key>
	<string>$(PAYMENT_KEY)</string>
	<key>PAYMENT_VECTOR</key>
	<string>$(PAYMENT_VECTOR)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>NotoSansKhmer-Bold.ttf</string>
		<string>NotoSansKhmer-Medium.ttf</string>
		<string>NotoSansKhmer-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
